---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const {
  title = 'Slowlane',
  description = 'Slowlane builds simple tools, thoughtfully.',
  lang = 'en',
  currentPath = '/',
  canonical = new URL(currentPath, Astro.site),
  headerProps = {},
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="google-site-verification" content="aU3UIzP7d1wF_8vLN837_OJk2_FKuVgZcMdDuHbPI9M" />
    <link rel="canonical" href={canonical} />
  </head>
  <body>
    <Header currentPath={currentPath} {...headerProps} />
    <main class="page-shell">
      <div class="shell">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
